  <!-- Banner -->
  {% if v %}
  <div class="flex items-center justify-center h-8 bg-gray-900 w-full">
    <span class="text-sm text-gray-200">
      💖🌈 rdrama.net stands with the LGBTQ+ community.&nbsp;
      <span class="font-medium hidden md:inline-block">Help keep our community inclusive and welcoming.&nbsp;</span>
      <strong><a href="#">Learn more!</a></strong>
    </span>
  </div>
  {% else %}
   <div class="flex items-center justify-center h-8 bg-primary w-full">
    <span class="text-sm text-gray-200">
      ✋😕 You are viewing a cached version of rdrama.net&nbsp;
      <span class="font-medium hidden md:inline-block">Join the community to see the latest content.&nbsp;</span>
      <strong><a href="/login">Login!</a></strong>
    </span>
  </div>
  {% endif %}